body {
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 30px;
    width: 400px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 25px;
}

/* SIDE BY SIDE LAYOUT */
.row {
    display: flex;
    gap: 30px;
}

.input-group {
    flex: 1;
}
.input-group input {
    margin-bottom: 15px;
    margin-right: 100px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

input, select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    background: #1e73e8;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #155ac1;
}

/* RESULT BOX */
.result-box {
    margin-top: 20px;
    padding: 15px;
    background: #f1f3f6;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #ddd;
}

.error {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}
