*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:linear-gradient(135deg,#1f2437,#2b3450);
    color:#fff;
}

header{
    display:flex;
    justify-content:space-between;
    padding:30px 80px;
}

nav a{
    margin-left:30px;
    text-decoration:none;
    color:#ccc;
}

nav a:hover{
    color:#f7b731;
}

.logo{
    background:#f7b731;
    color:#000;
    padding:10px 15px;
    border-radius:50%;
}

/* Hero */
.hero{
    display:flex;
    height: 100vh;
    padding:100px 80px;
    justify-content:space-between;
}

.hero-left h1{
    font-size:70px;
}

.hero-image img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.underline{
    width:60px;
    height:4px;
    background:#f7b731;
    margin:20px 0;
}

.link-btn{
    color:#f7b731;
    text-decoration:none;
}

/* Contact Strip */
.contact-strip{
    display:flex;
    height: 50vh;
    padding:80px;
    background:#22293f;
}

.stats{
    display:flex;
    gap:60px;
    margin-top:20px;
}

.stats h3{
    color:#f7b731;
    font-size:40px;
}

/* Services */
.services{
    display:flex;
    height: 50vh;
    justify-content:center;
    gap:30px;
    padding:80px;
    background: #22293f;
}

.card{
    background:#2b3045;
    padding:50px;
    width:250px;
    transition:0.3s;
}

.card.active{
    background:#f7b731;
    color:#000;
}

/* Portfolio */
.portfolio{
    display:flex;
    padding:100px 80px;
    gap:60px;
}

.portfolio-grid{
    display:grid;
    gap:30px;
}

.project{
    background:#2b3045;
    padding:60px;
}

/* Blog */
.blog{
    display:flex;
    padding:100px 80px;
    gap:60px;
}

.blog-item{
    margin-bottom:30px;
}

/* Testimonial */
.testimonial{
    padding:100px 80px;
    text-align:center;
}

.testimonial-content{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:40px;
}

/* Contact */
.contact{
    display:flex;
    padding:100px 80px;
    gap:60px;
}

.contact-right input,
.contact-right textarea{
    display:block;
    width:100%;
    margin:10px 0;
    padding:10px;
    border:none;
}

button{
    background:#f7b731;
    border:none;
    padding:10px 20px;
}

/* Footer */
footer{
    text-align:center;
    padding:60px;
}
